.container
  table.table.table-hover.table-striped.table-condensed(ng-show='builds.length>0')
    tr
      td(width='200px') App
      td Last build
    tr(ng-repeat='build in builds')
     td
       a(ui-sref="app({app:build.flathub_name})")
         | {{build.flathub_name }}
     td
       a(ui-sref="build({builder:mainBuilder.builderid, build:build.number})")
         span.badge-status(ng-class="results2class(build, 'pulse')")
           span.badge-inactive
             | {{build.number}}
           span.badge-active {{results2text(build)}}
