.container
  .row(ng-if="config.buildbotURL != baseurl")
      .alert.alert-danger Warning:
          | c['buildbotURL'] is misconfigured to
          pre {{config.buildbotURL}}
          | Should be:
          pre {{baseurl}}
  span(ng-show='mainRunningBuilds.length>0')
    h4 Current builds:
    builds-table(builder="mainBuilder", builds="mainRunningBuilds")
  span(ng-show='publishBuilds.length>0')
    h4 Publishing:
    builds-table(builder="publishBuilder", builds="publishBuilds")
  span(ng-show='purgeBuilds.length>0')
    h4 Deleting:
    builds-table(builder="purgeBuilder", builds="purgeBuilds")
  span(ng-show='mainUpublishedBuilds.length>0')
    h4 Unpublished builds:
    builds-table(builder="mainBuilder", builds="mainUpublishedBuilds")
  h4 Recent builds:
  builds-table(builder="builders", builds="mainRecentBuilds")
